
		<main>
			<section>
				<h1>Seleccione una categoria:</h1>
				<hr>

			

					<div class="producto">

						<div class="col-md-4">

							<div class="card">
                                <a ui-sref="merchant.categoriaResult">
                                    <img src="images/frutas.jpg" alt="Avatar" style="width:100%">

                                    <div class="container">
                                        <br>
                                        <p class="category">FRUTAS</p>

                                    </div>
                                </a>
						</div>

					</div>

							<div class="col-md-4">

								<div class="card">
									<a href="">
									<img src="images/vegetales.jpg" alt="Avatar" style="width:100%">

		  						<div class="container">
										<br>

		    							<p class="category">VEGETALES</p>

		  						</div>
</a>
							</div>

								</div>

								<div class="col-md-4">

									<div class="card">
										<a href="">
											<img src="images/cereal.jpg" alt="Avatar" style="width:100%">

				  						<div class="container">
												<br>

				    							<p class="category">CEREALES</p>

				  						</div>
</a>
								</div>

									</div>

				</div>

<div class="producto">

	<div class="col-md-4">

		<div class="card">
			<a href="">
			<img src="images/papas.jpg" alt="Avatar" style="width:100%">

			<div class="container">
				<br>

					<p class="category">TUBERCULOS</p>

			</div>
</a>
	</div>

</div>

		<div class="col-md-4">

			<div class="card">
				<a href="">
				<img src="images/legumbres.jpg" alt="Avatar" style="width:100%">

				<div class="container">
					<br>

						<p class="category">LEGUMBRES</p>

				</div>
</a>
		</div>

			</div>

			<div class="col-md-4">

				<div class="card">
					<a href="">
						<img src="images/bg1.jpg" alt="Avatar" style="width:100%">

						<div class="container">
<br>
								<p class="category">OTROS</p>

						</div>
</a>
			</div>

				</div>

</div>

			</section>
		</main>
