<main>
			<section>
				<h1><strong>Estadisticas</strong></h1>
				<hr>

			<div>
				<form>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label>Provincia</label>
								<input list="provincia" class="form-control input-lg" placeholder="Seleccione">
								<datalist id="provincia">
									<option>AZUA</option>
									<option>BAHORUCO</option>
									<option>BARAHONA</option>
									<option>DAJAB&Oacute;N</option>
									<option>DISTRITO NACIONAL</option>
									<option>DUARTE</option>
									<option>EL&Iacute;AS PI&Ntilde;A</option>
									<option>EL SEIBO</option>
									<option>ESPAILLAT</option>
									<option>HATO MAYOR</option>
									<option>HERMANAS MIRABAL</option>
									<option>INDEPENDENCIA</option>
									<option>LA ALTAGRACIA</option>
									<option>LA ROMANA</option>
									<option>LA VEGA</option>
									<option>MAR&Iacute;A TRINIDAD S&Aacute;NCHEZ</option>
									<option>MOSE&Ntilde;OR NOUEL</option>
									<option>MONTE CRISTI</option>
									<option>MONTE PLATA</option>
									<option>PEDERNALES</option>
									<option>PERAVIA</option>
									<option>PUERTO PLATA</option>
									<option>SAMAN&Aacute;</option>
									<option>S&Aacute;NCHEZ RAM&Iacute;REZ</option>
									<option>SAN CRIST&Oacute;BAL</option>
									<option>SAN JOS&Eacute; DE OCOA</option>
									<option>SAN JUAN</option>
									<option>SAN PEDRO DE MACOR&Iacute;S</option>
									<option>SANTIAGO</option>
									<option>SANTIAGO RODR&Iacute;GUEZ</option>
									<option>SANTO DOMINGO</option>
									<option>VALVERDE</option>
								</datalist>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>Fecha desde:</label>
								<input type="date" class="form-control input-lg">
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>Fecha hasta:</label>
								<input type="date" class="form-control input-lg">
							</div>
						</div>

						<div class="col-md-3">
							<label><br></label>
							<input type="submit" class="btn btn-primary boton btn-block btn-lg" value="BUSCAR">
						</div>

					</div>
					<!--CANVAS -->
					<canvas id="chart-area" width="100%" height="50%"></canvas>
				</form>
			</div>
		</section>
	</main>