﻿<head>
    <link href="~/css/contactanos.css" rel="stylesheet" />
</head>

    <main>
	<div id="sectioncontacto">
            <center><a><img  src="images/logomenu.png"></a></center><br>
				<span> <strong>Correo:</strong></span> <br>
				<span> Agroverdedominicana@gmail.com</span><br>
				<span><strong>Telefono:</strong> </span><br>
				<span> 809-733-7147</span>
			</div>
    <section>
			<label id="lblcontacto" class="form-group"> CONT&Aacute;CTENOS </label>
			<form id="formcontacto">

			<hr>
			  <div class="form-group">
					<label>NOMBRE:</label>
					<input type="text" class="form-control">
				 </div>
			  <div class="form-group" >
					<label>CORREO ELECTRONICO:</label>
					<input type="email" class="form-control">
				</div>
		  <div class="form-group">
					<label>MENSAJE:</label>
					<textarea rows="5" class="form-control"> </textarea>
				  </div>

			<button type="submit" class="btn-lg btn-active btn-primary">Enviar</button>

		</form>
	</section>
    </main>

