<header>
    <img src="images/logo.png">
</header>

<!--NAV-->
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <form class="navbar-form navbar-left">
            <ul role="presentation" class="dropdown navbar-left">
                <select class="nav-search-dropdown dropdown btn btn-default dropdown-toggle" tabindex="18" title="Buscar en">
                    <option selected="selected" value="search-alias=aps">Categoria</option>
                </select>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                    <button type="submit" class="btn btn-default btnBuscar"><span class="glyphicon glyphicon-search"></span></button>
                </div>

            </ul>


        </form>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li role="presentation"><a ui-sref="merchant.offers"><strong>INICIO</strong></a></li>
                <li role="presentation"><a ui-sref="merchant.categoria"><strong>CATEGORIAS</strong></a></li>
                <li role="presentation"><a ui-sref="merchant.orders"><strong>VER MIS PEDIDOS</strong></a></li>
                <li role="presentation"><a ui-sref="merchant.neworder"><strong>AGREGAR PEDIDO</strong></a></li>
                <li role="presentation"><a ui-sref="merchant.about"><strong>NOSOTROS</strong></a></li>
                <li role="presentation"><a ui-sref="merchant.contactanos"><strong>CONT&Aacute;CTENOS</strong></a></li>
                <li role="presentation"><a ui-sref="logout"><strong>SALIR</strong></a></li>
            </ul>

        </div>

    </div>

</nav>

<div ui-view></div>

<footer>
    <div class="row">

        <div class="col-md-4 informacion">
            <div>
                <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                Santo Domingo, Republica Dominicana
            </div>

            <div>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                (809) 733-7147
            </div>

            <div>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                agroverdedominicana@hotmail.com
            </div>
        </div>

        <div class="col-md-4 redes">
            <a href="" class="facebook" target="_blank"></a>
            <a href="" class="twitter" target="_blank"></a>
            <a href="" class="instagram" target="_blank"></a>
            <a href="" class="google" target="_blank"></a>
        </div>

        <div class="col-md-4 copyright">
            <p>Copyright &copy; 2017 - AgroVerde</p>
        </div>

    </div>
</footer>


