
<main>
    <section>
        <h1><strong>Haga su pedido</strong></h1>
        <hr>

        <form>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label>*Categor&iacute;a</label>
                        <select class="form-control" ng-model="productCategory" ng-options="productCategory.Category for productCategory in categories" ng-change="getProducts(productCategory.Id)" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>*Producto</label>
                        <select class="form-control" ng-model="product" ng-options="product.Name for product in products" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>*Cantidad</label>
                        <input type="number" placeholder="10,000" ng-model="quantity" min="1" class="form-control" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>*Unidad de Medida</label>
                        <select class="form-control" ng-model="measurement" ng-options="measurement.Detail for measurement in measurements" required>
                            <option value="">Seleccione</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-3">
                    <label>Informacion adicional</label>
                    <textarea class="form-control" rows="3" maxlength="140"></textarea>
                </div>

                    <div class="col-md-3">
                        <center>
                            <button class="button button1" ng-click="saveProduct()">ENVIAR</button>
                            <input type="reset" class="button button1" value="LIMPIAR">
                        </center>

                        </div>
                    

                <div class="col-md-3">
                    <img ng-src="{{product.Photo}}">
                </div>

      

            </div>
        </form>
    </section>
</main>