<head>
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>

<main>
    <section>
        <h1>Lo mas reciente:</h1>
        <hr>

        <div>

            <div class="producto">

                <div class="col-md-4" ng-repeat="order in orders track by $index">
                    <div class="card">
                        <a ui-sref="merchant.profile({userid: order.Owners.UserId})">
                            <img ng-src="{{order.Product_Sale.Product.Photo}}" class="imgproducto">

                            <div class="container">
                                <h4><b>{{order.Product_Sale.Product.Name}}</b></h4>
                                <hr>
                                    <p>
                                        <b>{{order.Product_Sale.Quantity}} </b>{{order.Product_Sale.Measurement.Detail}} <b>RD$ {{order.Product_Sale.Price}}</b>
                                    </p>
                               
                            </div>
                        </a>
                    </div>

                </div>
           
            </div>

        </div>
    </section>
</main>
