﻿@{
    ViewBag.Title = "Categorias de producto";
}


<button type="button" class="btn btn-primary" data-bind="click: add" data-toggle="modal" data-target="#categoriaModal">Crear categoria</button>
<br />
<br />
<!-- Modal -->
<div class="modal fade" id="categoriaModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear Categoria</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="nombre">Nombre de la categoria:</label>
                                <input data-bind="textInput: model().Category" type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="image">Imagen:</label>
                                <input data-bind="event: { change: function() { $root.model().InputFileImageCategory($element.files[0]) } }" type="file" class="form-control" id="image">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bind="click:guardar, enabled:model.isValid">Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

            </div>
        </div>

    </div>
</div>




<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody data-bind="visible: categorias().length, foreach:{data: categorias, as:'categoria'}"  style="display: none;" >
        <tr>
            <td data-bind="text:categoria.Category">John</td>
            <td>
                <img data-bind="attr:{src : 'data:image/png;base64,' + categoria.ImageCategory}" style="width: 150px;" alt="Alternate Text" />
            </td>
            <td>
                <button type="button" data-toggle="modal" data-target="#categoriaModal" class=" btn btn-warning fixer" onclick="" data-bind="click:function(){$root.loadCategoria(categoria)}">Editar</button>
                <button type="button" style="margin-left: 10px;" class="btn btn-danger" data-bind="click:function(){$root.borrarCategoria(categoria)}">Borrar</button>
            </td>
        </tr>
    </tbody>

    <tfoot data-bind="visible:!categorias().length">
        <tr>
            <td colspan="5" align="center">No hay registros</td>

        </tr>
    </tfoot>
</table>

@section  scripts{
    @Scripts.Render("~/bundles/swal")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/core")
    @Scripts.Render("~/bundles/categorias")
}
