﻿﻿<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/contactanos.css" rel="stylesheet">
    <script src="js/libreria_jQuery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="../scripts/controllers/contactanoscontroller.js"></script>

    <title>AgroVerde</title>
</head>
<body>
    <!--NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a ui-sref="login"><strong>INICIO</strong></a></li>
                    <li role="presentation"><a ui-sref="sign-up"><strong>REGISTRATE</strong></a></li>
                    <li role="presentation"><a ui-sref="nosotros"><strong>NOSOTROS</strong></a></li>
                    <!--<li role="presentation"><a ui-sref="#"><strong>VENDER</strong></a></li>-->
                    <li role="presentation"><a ui-sref="contactanos"><strong>CONT&Aacute;CTENOS</strong></a></li>
                </ul>
            </div>

        </div>

    </nav>
    <!--TERMINA NAV-->

    <main>
	<div id="sectioncontacto">
            <center><a><img  src="images/logomenu.png"></a></center><br>
				<span> <strong>Correo:</strong></span> <br>
				<span> Agroverdedominicana@gmail.com</span><br>
				<span><strong>Telefono:</strong> </span><br>
				<span> 809-733-7147</span>
			</div>
    <section>
			<label id="lblcontacto" class="form-group"> CONT&Aacute;CTENOS </label>
			<form id="formcontacto">

			<hr>
			  <div class="form-group">
					<label>NOMBRE:</label>
					<input type="text" ng-model="Nombre" class="form-control">
				 </div>
			  <div class="form-group" >
					<label>CORREO ELECTRONICO:</label>
					<input type="email"  ng-model="Email" class="form-control">
				</div>
		    <div class="form-group">
				<label>MENSAJE:</label>
				<textarea rows="5"  ng-model="Descripcion" class="form-control"> </textarea>
				</div>

			<button type="submit" class="btn-lg btn-active btn-primary" ng-click="sendEmail()">Enviar</button>

		</form>
	</section>
    </main>

    <footer>
        <div class="row">

            <div class="col-md-4 informacion">
                <div>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Santo Domingo, Republica Dominicana.
                </div>

                <div>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    (809) 733-7147
                </div>

                <div>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    agroverdedominicana@hotmail.com
                </div>
            </div>

            <div class="col-md-4 redes">
                <a href="https://www.facebook.com/agroverdedominicana/" class="facebook" target="_blank"></a>
            </div>

            <div class="col-md-4 copyright">
                <p>Copyright &copy; 2017 - AgroVerde</p>
            </div>

        </div>
    </footer>
</body>
</html>
