﻿﻿<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script src="js/libreria_jQuery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>         
        .img-Categories {
            width: 100%;
            height: 130px;
        }
        .row {
            width: 100%;
        }
        .category-card {
            margin-bottom: 16px;
        }
    </style>
    <title>AgroVerde</title>
</head>
<header>
    <img src="images/logo.png">
</header>
<body>
    <!--NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>

                <!--<form class="navbar-form navbar-left">
                    <ul role="presentation" class="dropdown navbar-left">
                        <select class="nav-search-dropdown dropdown btn btn-default dropdown-toggle" tabindex="18" title="Buscar en" >
                            <option selected="selected" ng-repeat="item in categories"  value="search-alias=aps">{{item.Category}}</option>
                        </select>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="">
                            <button type="submit" class="btn btn-default btnBuscar"><span class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </ul>


                </form>-->

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a ui-sref="login"><strong>INICIO</strong></a></li>
                    <li role="presentation"><a ui-sref="sign-up"><strong>REGISTRATE</strong></a></li>
                    <li role="presentation"><a ui-sref="nosotros"><strong>NOSOTROS</strong></a></li>
                    <!--<li role="presentation"><a ui-sref="#"><strong>VENDER</strong></a></li>-->
                    <li role="presentation"><a ui-sref="contactanos"><strong>CONT&Aacute;CTENOS</strong></a></li>
                </ul>
            </div>

        </div>

    </nav>
    <!--TERMINA NAV-->



    <main>
        <section id="login">
            <center><h1>Iniciar Sesion</h1></center>
            <hr>
            <form class="PC">
                <div class="form-group">
                    <label>Usuario</label>
                    <input md-maxlength="30" required md-no-asterisk type="text" class="form-control input-lg" ng-model="username" placeholder="usuario">
                </div>

                <div class="form-group">
                    <label>Contrase&ntilde;a</label>
                    <input md-maxlength="30" required md-no-asterisk type="password" class="form-control input-lg" ng-model="password" placeholder="******">
                </div>

                <button type="submit" class="button button1" ng-click="login()">ENTRAR</button>

                <br><br>

                <label class="label label-danger">{{loginError}}</label>

                <p>&#191;Todav&iacute;a no eres parte de AgroVerde&#63;</p>
                <a ui-sref="sign-up">&Uacute;nete aqu&iacute;</a>
            </form>

            <form class="Responsive">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" ng-model="username" placeholder="ejemplo@dominio.com">
                </div>

                <div class="form-group">
                    <label>Contrase&ntilde;a</label>
                    <input type="password" class="form-control" ng-model="password" placeholder="******">
                </div>

                <button type="submit" class="boton">ENTRAR</button>

                <br><br>

                <label>{{loginError}}</label>

                <p>&#191;Todav&iacute;a no eres parte de AgroVerde&#63;</p>
                <a ui-sref="sign-up">&Uacute;nete aqu&iacute;</a>
            </form>

        </section>

        <section>
            <h1>Seleccione una categoria:</h1>
            <hr>

            <div class="scroll">

                <div class="producto" >

                    <div class="col-md-4" ng-repeat="item in categories">

                        <div class="card category-card"  >
                            <a ui-sref="ProductoResultado({cId: {{item.Id}} })">
                                <img data-ng-src="data:image/png;base64,{{item.ImageCategory}}" data-err-src="images/frutas.jpg" alt="Avatar" class="img-Categories" style="">

                                <div class="container">
                                    <br>
                                    <p class="category">{{item.Category}}</p>

                                </div>
                            </a>
                        </div>

                    </div>

                    <!--<div class="col-md-4">

                        <div class="card">
                            <a href="">
                                <img src="images/vegetales.jpg" alt="Avatar" style="width:100%">

                                <div class="container">
                                    <br>

                                    <p class="category">VEGETALES</p>

                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card">
                            <a href="">
                                <img src="images/cereal.jpg" alt="Avatar" style="width:100%">

                                <div class="container">
                                    <br>

                                    <p class="category">CEREALES</p>

                                </div>
                            </a>
                        </div>

                    </div>-->

                </div>

                <!--<div class="producto">

                    <div class="col-md-4">

                        <div class="card">
                            <a href="">
                                <img src="images/papas.jpg" alt="Avatar" style="width:100%">

                                <div class="container">
                                    <br>

                                    <p class="category">TUBERCULOS</p>

                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card">
                            <a href="">
                                <img src="images/legumbres.jpg" alt="Avatar" style="width:100%">

                                <div class="container">
                                    <br>

                                    <p class="category">LEGUMBRES</p>

                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="card">
                            <a href="">
                                <img src="images/bg1.jpg" alt="Avatar" style="width:100%">

                                <div class="container">
                                    <br>
                                    <p class="category">OTROS</p>

                                </div>
                            </a>
                        </div>

                    </div>

                </div>-->


            </div>


        </section>
    </main>

    <footer>
        <div class="row">

            <div class="col-md-4 informacion">
                <div>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Santo Domingo, Republica Dominicana.
                </div>

                <div>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    (809) 733-7147
                </div>

                <div>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    agroverdedominicana@hotmail.com
                </div>
            </div>

            <div class="col-md-4 redes">
                <a href="https://www.facebook.com/agroverdedominicana/" class="facebook" target="_blank"></a>
            </div>

            <div class="col-md-4 copyright">
                <p>Copyright &copy; 2017 - AgroVerde</p>
            </div>

        </div>
    </footer>
</body>
</html>