﻿

<main>
    <section id="perfil">
        <img src="images/agr1.jpg" class="img-thumbnail img-responsive img-perfil">
        <h1 class="text-uppercase">{{user.Information.Name}} {{user.Information.LastName}}</h1>
        <h3>{{user.RoleName == 'Farmer' && 'Agricultor' || 'Comerciante'}}</h3>

        <hr />
        <br />

        <p>
            <span class='glyphicon glyphicon-map-marker' aria-hidden='true'></span>
            PROVINCIA:
            <label>{{user.Provincia}}</label>
        </p>

        <p>
            <span class='glyphicon glyphicon-home' aria-hidden='true'></span>
            MUNICIPIO:
            <label>{{user.Municipio}}</label>
        </p>


        <p>
            <span class='glyphicon glyphicon-phone' aria-hidden='true'></span>
            TEL&Eacute;FONO:
            <label>{{user.PhoneNumber}}</label>
        </p>

        <p>
            <span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>
            CORREO ELECTR&Oacute;NICO:
            <label>{{user.Email}}</label>
        </p>


    </section>
</main>