﻿<main>
    <section>
        <h1><strong>{{search.criteria}}</strong></h1>
        <hr>

        <div>

            <div class="producto">

                <div class="col-md-4" ng-repeat="order in orders track by $index">

                    <div class="card">
                        <img ng-src="{{order.Product.Photo}}" class="imagenproducto">

                        <div class="container">
                            <h4><b>{{order.Product.Name}}</b></h4>
                            <p><b>{{order.Measurement.Detail}}</b>  RD$ {{order.Quantity}}</p>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </section>
</main>