﻿<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/registro.css" rel="stylesheet">
    <script src="js/libreria_jQuery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>AgroVerde</title>
</head>

<body>
    <!--NAV-->
    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a ui-sref="login"><strong>INICIO</strong></a></li>
                    <li role="presentation"><a ui-sref="sign-up"><strong>REGISTRATE</strong></a></li>
                    <li role="presentation"><a ui-sref="nosotros"><strong>NOSOTROS</strong></a></li>
                    <li role="presentation"><a ui-sref="contactanos"><strong>CONT&Aacute;CTENOS</strong></a></li>
                </ul>
            </div>

        </div>

    </nav>
    <!--TERMINA NAV-->

    <main>
       

        <section id="registro">
            <form class="PC">
                <h1><strong>Registrate en AgroVerde</strong></h1>
                <p> Publica tus productos, accede a las recomendaciones de nuestras estadisticas, descubre lo que AgroVerde tiene para ti</p>
                <hr>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" class="form-control input-lg" placeholder="Juan Antonio" ng-model="name" maxlength="40" required>
                    </div>

                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control input-lg" placeholder="Torres Mendoza" ng-model="lastName" maxlength="40">
                    </div>

                    <!--<div class="form-group">
                        <label>C&eacute;dula</label>
                        <input type="text" class="form-control input-lg" placeholder="123-4567890-1" ng-model="identification" maxlength="13" required>
                    </div>-->



                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="number" class="form-control input-lg" placeholder="8091234567" ng-model="phoneNumber" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input class="form-control input-lg" type="password" ng-model="password" required>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email </label>
                        <input type="email" class="form-control input-lg" placeholder="correo@hotmail.com" ng-model="email" maxlength="256" required>
                    </div>

                    <div class="form-group">
                        <label>Provincia</label>
                        <select class="form-control input-lg" ng-model="provincia" ng-options="provincia.Nombre for provincia in provincias" ng-change="getMunicipios(provincia.Provincia_id)" required>
                            <option value="">Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Municipio</label>
                        <select class="form-control input-lg" ng-model="municipio" ng-options="municipio.Nombre for municipio in municipios" required>
                            <option value="">Seleccionar</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tipo de Usuario</label>
                        <select ng-model="role" class="form-control input-lg" required>
                            <option value="">Seleccionar</option>
                            <option value="Farmer">Agricultor</option>
                            <option value="Merchant">Comerciante</option>
                        </select>

                    </div>


                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Acepto las Politicas de AgroVerde</input>
                        </label>
                    </div>

                </div>


                <button type="submit" class="button button1" ng-click="register()"><strong>Registrarse</strong></button>
                <div  ng-repeat="error in errors;">
                    <label class="label label-danger">{{error}}</label>
                    <br />
                </div>
            </form>
            <!-- Responsive-->
            <form class="Responsive">
                <div class="form-group">
                    <label>Nombres</label>
                    <input type="text" class="form-control input-lg" placeholder="Juan Antonio" ng-model="name" maxlength="40" required>
                </div>

                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" class="form-control input-lg" placeholder="Torres Mendoza" ng-model="lastName" maxlength="40">
                </div>


                <!--<div class="form-group">
                    <label>C&eacute;dula</label>
                    <input type="text" class="form-control input-lg" placeholder="123-4567890-1" ng-model="identification" maxlength="13" required>
                </div>-->

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control input-lg" placeholder="correo@hotmail.com" ng-model="email" maxlength="256" required>
                </div>

                <div class="form-group">
                    <label>Telefono</label>
                    <input type="number" class="form-control input-lg" placeholder="8097535585" ng-model="phoneNum" maxlength="10" required>
                </div>

                <div class="form-group">
                    <label>Provincia</label>
                    <select class="form-control input-lg" ng-model="provincia" ng-options="provincia.Nombre for provincia in provincias" ng-change="getMunicipios(provincia.Provincia_id)" required>
                        <option value="">Seleccionar</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Municipio</label>
                    <select class="form-control input-lg" ng-model="municipio" ng-options="municipio.Nombre for municipio in municipios" required>
                        <option value="">Seleccionar</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Tipo de Usuario</label>
                    <select ng-model="role" class="form-control input-lg" required>
                        <option value="">Seleccionar</option>
                        <option value="Farmer">Agricultor</option>
                        <option value="Merchant">Comerciante</option>
                    </select>

                </div>

                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control input-lg" type="password" ng-model="password" required>
                </div>

                <div ng-repeat="error in errors;">
                    <label class="label label-danger">{{error}}</label>
                    <br />
                </div>

                <button type="submit" class="button button1" ng-click="register()">Registrarse</button>
            </form>

        </section>-->
    </main>

    <footer>
        <div class="row">
            <div class="col-md-4 informacion">
                <div>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                    Santo Domingo, Republica Dominicana.
                </div>
                <div>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    (809) 733-7147
                </div>
                <div>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    agroverdedominicana@hotmail.com
                </div>
            </div>
            <div class="col-md-4 redes">
                <a href="https://www.facebook.com/agroverdedominicana/" class="facebook" target="_blank"></a>
            </div>
            <div class="col-md-4 copyright">
                <p>Copyright &copy; 2017 - AgroVerde</p>
            </div>

        </div>
    </footer>
</body>
</html>
