body {
    background-image: url("../images/bg1.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


main {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}


#sectioncontacto {
    margin-right: 30px;
    width: 25%;
    float: right;
    padding: 10px;
}

    #sectioncontacto form {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin: auto;
        margin-top: 25px;
        font-weight: bold;
        text-shadow: -3px 3px 3px black;
    }

    #sectioncontacto a {
        color: yellow;
        text-shadow: -3px 3px 3px black;
    }

footer {
    background: url("../images/fondo1.png");
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
    margin-top: 0px;
}

    footer a, footer a:hover, footer a:active {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: yellow;
        }

.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
    }

    main {
        margin-top: 10px;
    }
}

@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome.ttf") format("truetype");
}

body {
    background-attachment: fixed;
    background-image: url("../images/bg2.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    margin-top: 51px;
    background-repeat: no-repeat;
}

header {
    overflow: hidden;
    text-align: center;
}

main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 40px;
    background-image: url("../images/fondo2.png");
}

    main section {
        width: 100%;
        margin-left: 0px;
        background-image: url(../images/fondo1.png);
        padding: 30px;
        border-radius: 20px;
        font-size: 15px;
        color: white;
        text-shadow: -1px 1px 1px black;
    }


        main section form textarea {
            margin-bottom: 10px;
        }

        main section form img {
            width: 100%;
        }

/ /*AGREGADO POR YASSER ----------------------------------------------------------------------------------- */
.opcionMenu {
    padding-top: 18px;
    padding-left: 10px;
}

.opcionMenu a {
    color: yellow;
    padding: 30px;
}

.btnBuscar {
    padding: 5px 10px;
    font-size: 21px;
    line-height: 1.5;
    border-radius: 3px;
}

#formcontacto {
    width: 70%;
    ;
}

#lblcontacto {
    font-size: 20px;
}

#sectioncontacto {
    padding-top: 100px;
    background-color: #319c90;
    font-size: 16px;
    text-align: center;
    color: #fff;
    height: 80%;
    padding-bottom: 10px;
    text-shadow: -1px 1px 1px black;
}

    #sectioncontacto span strong {
        font-size: 20px;
    }
/*--------------------------------------------------------------------------------------*/

footer {
    background: url("../images/fondo1.png");
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
}


    footer a, footer a:hover, footer a:active {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: yellow;
        }



.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}


@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
        background-position: -300px 0px;
    }

    header img {
        width: 35%
    }

    main {
        margin-top: 10px;
    }

        main section {
            font-size: 100%;
            width: 90%;
        }

            main section h1 {
                font-size: 200%;
            }

            main section form label {
                font-size: 150%;
            }
}
