@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome.ttf") format("truetype");
}

#category {
    text-align: center;
}

body {
    background-attachment: fixed;
    background-image: url("../images/bg2.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    margin-top: 51px;
    background-repeat: no-repeat;
}

header {
    overflow: hidden;
    text-align: center;
    margin-top: 61px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 10px;
    /* background-image: url(../images/fondo2.png); */
}

    main section {
        margin: auto;
        width: 90%;
        /* background-image: url(../images/fondo1.png); */
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        color: white;
        text-shadow: -1px 1px 1px black;
    }


        main section form textarea {
            margin-bottom: 10px;
        }

        main section form img {
            width: 100%;
        }

.scroll {
    width: 100%;
    height: 700px;
    overflow: auto;
    padding: 10px;
}

dl {
    text-align: center;
    margin-top: 10px;
}

    dl button {
        margin-top: 15px;
    }

.producto {
    width: 80%;
    overflow: hidden;
    margin: auto;
    /* padding-top: 20px; */
    background-image: url(../images/fondo3.png);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 0px 0px 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    width: 90%;
    /* padding: 10px; */
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(6, 95, 4, 0.81);
    transition: 0.3s;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.producto input[type=text], .producto input[type=date], .producto textarea {
    background-color: #8abfdb;
    color: white;
}

.imagenproducto {
    width: 100%;
    height: 240px;
}

.imgempresa {
    width: 30%;
    float: left;
    margin-right: 10px;
}

.empresa {
    float: left;
}

.establecimiento {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.imgproducto {
    width: 100%;
}
body {
    overflow-x:hidden;
}
footer {
    background: url(../images/fondo1.png);
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
    margin-top: 50px;
    position: absolute;
    width: 100%;
}

#perfil {
    text-align: center;
    text-shadow: -1px 1px 1px black;
}

.img-perfil {
    width: 25%;
}

#perfil label {
    font-weight: normal;
}

#perfil p {
    font-weight: bold;
}

#perfil h1 {
    margin-bottom: 5px;
    font-weight: bold;
}

#perfil h3 {
    margin-bottom: 30px;
    margin-top: 5px;
}

footer a, footer a:hover, footer a:active {
    text-decoration: none;
}

footer a {
    color: white;
}

    footer a:hover {
        color: yellow;
    }

.boton {
    background: yellow;
    color: black;
    border: none;
    padding: 10px;
    width: 49%;
    margin-bottom: 10px;
}

    .boton:hover {
        background: black;
        color: yellow;
    }

    .boton:active {
        background: black;
        color: yellow;
    }

.boton2 {
    background: #8abfdb;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

    .boton2:hover {
        background: black;
        color: #8abfdb;
    }

    .boton2:active {
        background: black;
        color: #8abfdb;
    }

.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}

.Responsive {
    display: none;
}

.PC {
    display: inherit;
    margin-left: 30px;
    background-image: url(../images/fondo1.png);
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    text-shadow: -1px 1px 1px black;
}


@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
        background-position: -300px 0px;
    }

    header img {
        width: 50%
    }

    main {
        margin-top: 10px;
    }

        main section {
            font-size: 100%;
            width: 90%;
        }

            main section h1 {
                font-size: 200%;
            }

            main section form label {
                font-size: 150%;
            }

    dl {
        font-size: 125%;
    }

    dd {
        margin-bottom: 10px;
    }

    .empresa {
        margin: auto;
        width: 100%;
        font-size: 120%;
    }

    .imagenproducto {
        width: 100%;
    }

    .textoproducto {
        font-size: 150%;
        margin-bottom: 5px;
    }

    .producto {
        text-align: center;
    }

    .imgproducto {
        margin-top: 10px;
    }

    .imgempresa {
        width: 100%;
    }

    .copyright {
        margin-top: 5.5px;
    }

    .informacion {
        margin-top: 5.5px;
    }

    .Responsive {
        display: inherit;
    }

    .PC {
        display: none;
    }

    .img-perfil {
        width: 50%;
    }
}





.button {
    background-color: #508a59;
    width: 100%;
    border: none;
    color: yellow;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #508a59;
    border: 2px solid #27562f;
}

.button:hover {
    background: #27562f;
    color: yellow;
    border: 2px solid #27562f;
}


#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

    #custom-search-input input {
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

        #custom-search-input button:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

    #custom-search-input .glyphicon-search {
        font-size: 23px;
    }

.row {
    margin-right: -10px;
    margin-left: -15px;
}