body{
	background-image:url("../images/bg1.jpg");
	background-size: 100%;
	font-family:Century Gothic;
	background-attachment:fixed;
	background-repeat:no-repeat;
}


#sectioncontacto {
    margin-right: 30px;
    width: 25%;
    float: right;
    padding: 10px;
}

    #sectioncontacto form {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin: auto;
        margin-top: 25px;
        font-weight: bold;
        text-shadow: -3px 3px 3px black;
    }

    #sectioncontacto a {
        color: yellow;
        text-shadow: -3px 3px 3px black;
    }

header{
	overflow:hidden;
	text-align:center;
	margin-top:61px;
	margin-bottom:10px;
}

#header{
	text-align:center;
}

#header img{
	width:10%;
}

main2{
	width:100%;
	overflow:hidden;
	margin-top:25px;
}

.acerca {
    width: 100%;
    margin: auto;
    font-size: 25px;
    background-image: url(../images/fondo1.png);
    border: 5px solid yellow;
    border-radius: 20px;
    color: white;
    padding: 20px;
    /* margin-bottom: 50px; */
    text-align: justify;
    text-shadow: -3px 3px 3px black;
    line-height: 35px;
}

.nosotros {
    margin-top: 20px;
    background-image: url(../images/fondo1.png);
    border: 5px solid yellow;
    border-radius: 20px;
    color: white;
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
    text-shadow: -3px 3px 3px black;
}

.nosotros h2{
	text-align:center;
	font-weight:bold;
}

.nosotros ul li{
	list-style-type:none;
}

.nosotros ul{
	padding:0px;
}

.nosotros blockquote{
	margin-top:20px;
	font-size:25px;
	line-height:35px;
}

#datos{
	margin-top:25px;
}

.Responsive{
	display:none;
}

.PC{
	display:inherit;
}

footer {
    background: url(../images/fondo1.png);
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
    margin-top: 50px;
}

footer a, footer a:hover, footer a:active{
	text-decoration:none;
}

footer a{
	color:white;
}

footer a:hover{
	color:yellow;
}

.boton{
	background:yellow;
	color:black;
	border:none;
	margin-top:30px;
	padding:10px;
	width:100%;
	font-weight:regular;
}

.boton:hover{
	background:black;
	color:yellow;
}

.copyright{
	margin-top:25.5px;
}

.informacion{
	margin-top:5.5px;
}

.facebook:before{
	font-family:FontAwesome;
	font-size:50px;
	content:"\F082";
	padding:5px;
}

.twitter:before{
	font-family:FontAwesome;
	font-size:50px;
	content:"\F081";
	padding:5px;
}

.instagram:before{
	font-family:FontAwesome;
	font-size:50px;
	content:"\F16D";
	padding:5px;
}

.google:before{
	font-family:FontAwesome;
	font-size:50px;
	content:"\F0D4";
	padding:5px;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
	body{
		background-size:300%;
	}

	main2{
		margin-top:10px;
	}

	header img{
		width:50%
	}

	#registro{
		width:90%;
		overflow:hidden;
		padding:10px;
		margin:auto;
	}

	#registro form{
		width:100%;
		font-size:150%;
		padding:10px;
		background-image:url("../images/fondo1.png");
		text-align:center;
		border: 5px solid yellow;
		border-radius:20px;
		color:white;
		text-shadow: -1px 1px 1px black;
	}

	#registro a{
		color:yellow;
		text-shadow: -1px 1px 1px black;
	}

	#header img{
		width:35%;
	}

	.acerca{
		width:90%;
		font-size:15px;
		line-height:25px;
	}

	.nosotros blockquote{
		font-size:15px;
		line-height:25px;
	}

	.boton{
		background:yellow;
		color:black;
		border:none;
		margin-top:30px;
		padding:10px;
		width:100%;
		font-weight:regular;
	}

	.boton:hover{
		background:black;
		color:yellow;
	}

	.copyright{
		margin-top:5.5px;
	}

	.informacion{
		margin-top:5.5px;
	}

	.Responsive{
		display:inherit;
	}

	.PC{
		display:none;
	}
}


