body {
    background-image: url("../images/bg1.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    background-image: url("../images/fondo1.png");
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 5px solid yellow;
    color: yellow;
}

#header {
    text-align: center;
}

    #header img {
        width: 10%;
    }

main {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}

#registro {
    width: 60%;
    /*width: 85%; para 3 columnas 85*/
    padding: 10px;
    margin: auto;
}

    #registro form {
        font-size: 15px;
        padding: 10px;
        background-image: url("../images/fondo1.png");
        text-align: center;
        border: 10px solid yellow;
        border-radius: 20px;
        margin-top: 25px;
        color: white;
        /*text-shadow: -3px 3px 3px black;*/
    }

    #registro a {
        color: yellow;
        text-shadow: -3px 3px 3px black;
    }

.Responsive {
    display: none;
}

.PC {
    display: inherit;
}

footer {
    background: url(../images/fondo1.png);
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
    margin-top: 50px;
}

    footer a, footer a:hover, footer a:active {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: yellow;
        }

.boton {
    background: yellow;
    color: black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: regular;
}

    .boton:hover {
        background: black;
        color: yellow;
    }

.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
    }

    main {
        margin-top: 10px;
    }

    #registro {
        width: 90%;
        overflow: hidden;
        padding: 10px;
        margin: auto;
    }

        #registro form {
            width: 100%;
            font-size: 150%;
            padding: 10px;
            background-image: url("../images/fondo1.png");
            text-align: center;
            border: 5px solid yellow;
            border-radius: 20px;
            color: white;
            text-shadow: -1px 1px 1px black;
        }

        #registro a {
            color: yellow;
            text-shadow: -1px 1px 1px black;
        }

    #header img {
        width: 35%;
    }

    .boton {
        background: yellow;
        color: black;
        border: none;
        margin-top: 30px;
        padding: 10px;
        width: 100%;
        font-weight: regular;
    }

        .boton:hover {
            background: black;
            color: yellow;
        }

    .copyright {
        margin-top: 5.5px;
    }

    .informacion {
        margin-top: 5.5px;
    }

    .Responsive {
        display: inherit;
    }

    .PC {
        display: none;
    }
}

.button {
    background-color: #508a59;
    width: 100%;
    border: none;
    color: yellow;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #508a59;
    border: 2px solid #27562f;
}

.button:hover {
    background: #27562f;
    color: yellow;
    border: 2px solid #27562f;
}