﻿<head>
    <link href="~/css/estilo.css" rel="stylesheet" />
</head>

<main>
    <section>
        <h1>{{Category}}</h1>
        <hr>

        <div>

            <div class="producto">

                <div class="col-md-4" ng-repeat="product in products track by $index">

                    <div class="card">
                        
                            <img ng-src="{{Product.Photo}}" class="imgproducto">

                            <div class="container">
                                <h4><b>{{Product.Name}}</b></h4>
                                <p><b>{{Product.Quantity}}</b>  {{Measurement.Detail}}</p>

                            </div>
                        
                    </div>

                </div>

            </div>

        </div>
    </section>
</main>