<main>
    <section>
  

        <form class="PC" style="    margin-left:0px;
    background-image: url(../images/fondo1.png);
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    text-shadow: -1px 1px 1px black;">

            <style>
                #imgProfile {
                    cursor: pointer;
                    transition: 1s;
                    text-align: center;
                }

                    #imgProfile ~ i.fa-camera {
                        position: absolute;
                        color: #ece3e3;
                        opacity: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        transition: 1s;
                        text-align: center;
                    }

                    #imgProfile:hover {
                        opacity: 0.5;
                        transition: 1s;
                        text-align: center;
                    }

                    #imgProfile ~ i.fa-camera:hover > i.fa-camera:before {
                        transition: 1s;
                    }

                    #imgProfile:hover ~ i.fa-camera, #imgProfile ~ i.fa-camera:hover {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 45px;
                        transition: 1s;
                        cursor: pointer;
                        opacity: 1;
                        text-align: center;
                    }
            </style>
            <h1 style=" text-align: center;   margin-top: 10px;">
                <strong>Agregar producto</strong>
            </h1>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-5 text-center">
                    <img class="img-responsive" ng-src="{{product.Photo}}" id="imgProfile" style="cursor:pointer; width: 120%;  height: 247px;"  src="../../images/bg2.jpg">
                    <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
                    <a id="cambiarFoto" style=" color: white;  cursor: pointer; ">Cambiar foto</a>
                    <input style="display: none" type="file" id="InputFileImage" />
                </div>


                <div class="col-md-7">

                    <div class="row">
                        <div class="col-md-12">
                            <label>*Categor&iacute;a</label>
                            <select class="form-control" ng-model="productCategory" ng-options="productCategory.Category for productCategory in categories" ng-change="getProducts(productCategory.Id)" required>
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <label>*Producto</label>
                            <select class="form-control" ng-model="product" ng-options="product.Name for product in products" required>
                                <option value="">Seleccione</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Informaci&oacute;n  adicional</label>
                            <textarea class="form-control" ng-model="details" rows="3" maxlength="40" required></textarea>
                        </div>
                    </div>
                    <!--<div class="row">

                        <div class="col-md-12">
                            <label>Informaci&oacute;n  adicional</label>
                            <textarea class="form-control" rows="3" maxlength="40" required></textarea>
                        </div>
                    </div>-->

                    <!--<div class="row">
                        <div class="col-md-6">
                            <input type="reset" class="button button1" value="LIMPIAR"> 
                        </div>
                        <div class="col-md-6">
                            <button class="button button1" ng-click="saveProduct()">ENVIAR</button> 
                        </div>
                    </div>-->
                </div>

            </div>
            <div style=" text-align: center;">
                <h2 style=" text-align: center;font-weight: 600;">
                    Detalle de los precios
                </h2>
            </div>

            <div class="row">
                <div class="col-sm-8" style="margin: 0 auto; float: none; padding-top: 4px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Unidad de medida*</th>
                                <th>Precio*</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="color: green">
                            <tr ng-repeat="priceDetail in PriceDetail">
                                <td> 
                                    <select  class="form-control" ng-model="priceDetail.MeasuramentId" 
                                             required>
                                        <option value="">Seleccione</option>
                                        <option ng-repeat="measurement in measurements" value="{{measurement.Id}}">{{measurement.Detail}}</option>
                                    </select>
                                </td>
                                <td><input type="number"  class="form-control" ng-model="priceDetail.Price" /></td>
                                <td class="text-center"> 
                                    <button ng-show="PriceDetail.length > 1" type="button" ng-click="deletePriceDetail($index)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                    <button ng-show="$last" type="button" ng-click="addPriceDetail()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
         
            <div class="row">
                <div class="col-md-12" ">
                    <button class="btn btn-success btn-lg" ng-click="saveProduct()" style="  float: right;">
                        Guardar Producto
                    </button>
                </div>
            </div>

        </form>
    </section>
</main>