<head>
 <link href="~/css/nosotros.css" rel="stylesheet"/>
</head>

		<main>

            <section id="datos">

                <div class="acerca">
                    <p>
                        Somos una empresa que tiene como meta, facilitar la
                        comunicaci&oacute;n productor - comerciante expandiendo las oportunidades de negocios
                        de los mismos y creando un marco en el que tanto el productor como el comerciante
                        puedan hacer negocios sin la necesidad de incurrir en gastos innecesarios de
                        combustibles, intermediarios y dem&aacute;s. <br> AgroVerde procura mantener una estabilidad
                        en el mercado de comercializaci&oacute;n de rubros agr&iacute;colas mediante la asesor&iacute;a de
                        nuestros usuarios sobre las demandas del mercado.
                    </p>
                </div>


                <div class="col-md-4">
                    <div class="nosotros">
                        <h2>MISI&Oacute;N</h2>

                        <blockquote>
                            <p>
                                Impulsar el desarrollo sostenible del campo por medio de la implementaci&oacute;n
                                de las tecnolog&iacute;as de la informaci&oacute;n y la comunicaci&oacute;n (TICs) y el software responsable,
                                que le permita a los campesinos mejorar su calidad de vida y promueva la producci&oacute;n y
                                consumo responsables de los productos del campo.
                            </p>
                        </blockquote>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="nosotros">
                        <h2>VISI&Oacute;N</h2>

                        <blockquote>
                            <p>
                                Ser la principal herramienta en conectar al productor con sus potenciales clientes,
                                convirti&eacute;ndonos en los pioneros en desarrollar la agricultura a trav&eacute;s de la tecnolog&iacute;a.
                            </p>
                        </blockquote>
                        <br><br><br>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="nosotros">
                        <h2>VALORES</h2>

                        <blockquote>
                            <ul>
                                <li>Solidaridad</li>
                                <li>Responsabilidad</li>
                                <li>Transparencia</li>
                                <li>Compromiso</li>
                                <li>Honestidad</li>
                            </ul>
                        </blockquote>
                        <br><br><br>
                    </div>
                </div>
            </section>

		</main>
