<head>
    <link href="~/css/estilo.css" rel="stylesheet" />
    <style>
        .button-check {
            border-radius: 21px;
            float: right;
            background: #2A3F54;
            color: white;
            border-color: #2A3F54;
        }

        .button-uncheck {
            border-radius: 21px;
            float: right;
            background: #fffbfb;
        }

    </style>
</head>
<main>
    <section>
        <h1 style="
    background-image: url(../images/fondo1.png);
    padding: 9px;
    border-radius: 21px;
    text-align: center;
    font-weight: 600;
">
            Mis Ofertas
        </h1>

        <div> 
            <div class="producto"> 
                <div class="col-md-4" ng-repeat="productsale in productsales track by $index">

                    <div class="card">
                        <button class="item-button-status" ng-class="{'button-check': productsale.Publish, 'button-uncheck': !productsale.Publish}"  ng-click="updateStatusPublish(productsale)"   style="position: absolute;right: 10px;top: 5px;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <img ng-src="{{productsale.PhotoBase64}}" class="imagenproducto img-responsive">

                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-1">
                                <h4><b>{{productsale.Product.Name}}</b></h4>
                            </div>
                          
                            <div class="col-sm-8">
                                <h5>
                                    <ul>
                                        <li ng-repeat="productSaleMeasuramentDetail in productsale.ProductSaleMeasuramentDetail track by $index" >{{productSaleMeasuramentDetail.Measurement.Detail}}: {{productSaleMeasuramentDetail.Price | currency }}</li>
                                    </ul>
                                </h5>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-11 col-sm-offset-1">
                                <h6  style="text-transform: capitalize;"><b>{{productsale.Details}}</b></h6>
                            </div>
                        </div>
                    </div> 

                </div> 
                <div class="text-center" ng-show="!productsales || !productsales.length">
                    <label>No tienes productos a&ntilde;adidos</label>
                </div>
            </div> 
        </div> 
    </section>
</main>