﻿

<main>
	<section id="perfil">
        <div class="col-md-4">
            <img src="images/agr1.jpg" class="img-thumbnail img-responsive img-perfil"> </div>
        <div class="col-md-8">
            <h1 class="text-uppercase">{{user.Information.Name}} {{user.Information.LastName}}</h1>
            <h3>{{user.RoleName == 'Farmer' && 'Agricultor' || 'Comerciante'}}</h3>

            </div>

            <hr />
            <br />

            <p>
                <span class='glyphicon glyphicon-map-marker' aria-hidden='true'></span>
                PROVINCIA:
                <label>{{user.Provincia}}</label>
            </p>

            <p>
                <span class='glyphicon glyphicon-home' aria-hidden='true'></span>
                MUNICIPIO:
                <label>{{user.Municipio}}</label>
            </p>

        <!--<p>
            <span class='glyphicon glyphicon-credit-card' aria-hidden='true'></span>
            C&Eacute;DULA:
            <label>{{user.Information.Identification}}</label>
        </p>-->

            <p>
                <span class='glyphicon glyphicon-phone' aria-hidden='true'></span>
                TEL&Eacute;FONO:
                <label>{{user.Information.PhoneNumber}}</label>
            </p>

            <p>
                <span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>
                CORREO ELECTR&Oacute;NICO:
                <label>{{user.Email}}</label>
            </p>


</section>
</main>