﻿<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/loading-bar.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <script src="js/libreria_jQuery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="js/ui-router-styles.js" type="text/javascript"></script>
    <script src="~/js/loading-bar.js" type="text/javascript"></script>
    <script src="~/js/ocLazyLoad.min.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <script src="~/js/sweetalert2.js" type="text/javascript"></script>

    <link rel="icon" type="image/png" href="~/images/favicon.ico" />

    <title>AgroVerde</title>
</head>

<body>

        @RenderBody()

</body>

</html>