.titulo{
	line-height:40px;
	    padding-top: 15px;
    padding-bottom: 10px;
}

.linea{
	border-top: 1px solid #337ab7;
}

.nombre,.correo{
	padding: 30px;
	line-height: 30px;
	
}


.mensaje{
	padding: 30px;
	line-height: 50px;
	width: 100%;
	min-width:1200px;
	margin: 25;
}

.nav{
	-background: url("../image/fondo1.png");
}