body {
    background-image: url("../images/bg1.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


main {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}

#info {
    width: 65%;
    padding: 40px;
    text-align: center;
    float: left;
}

    #info img {
        width: 30%;
    }

    #info p {
        width: 60%;
        font-size: 25px;
        margin: auto;
        padding: 10px;
        background-image: url("../images/fondo1.png");
        border: 10px solid yellow;
        color: white;
        border-radius: 20px;
        text-shadow: -3px 3px 3px black;
    }

#login {
    margin-right: 30px;
    width: 25%;
    float: right;
    padding: 10px;
}

    #login form {
        width: 100%;
        font-size: 25px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin: auto;
        margin-top: 25px;
        font-weight: bold;
        color: white;
        text-shadow: -3px 3px 3px black;
    }

    #login a {
        color: yellow;
        text-shadow: -3px 3px 3px black;
    }

.Responsive {
    display: none;
}

.PC {
    display: inherit;
}

footer {
    background: url("../images/fondo1.png");
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
    margin-top: 0px;
}

    footer a, footer a:hover, footer a:active {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: yellow;
        }

.button {
    background-color: #508a59;
    width: 100%;
    border: none;
    color: yellow;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #508a59;
    border: 2px solid #27562f;
}

.button:hover {
    background: #27562f;
    color: yellow;
    border: 2px solid #27562f;
}

.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
    }

    main {
        margin-top: 10px;
    }

    #info {
        width: 100%;
        padding: 10px;
        text-align: center;
        overflow: hidden;
    }

        #info p {
            width: 100%;
            font-size: 150%;
            margin: auto;
            padding: 10px;
            background-image: url("../images/fondo1.png");
            border: 5px solid yellow;
            border-radius: 20px;
            text-shadow: -1px 1px 1px black;
        }

        #info img {
            width: 50%;
        }

    #login {
        width: 100%;
        overflow: hidden;
        padding: 40px;
    }

        #login form {
            width: 100%;
            font-size: 150%;
            padding: 10px;
            text-align: center;
            border: 5px solid yellow;
            border-radius: 20px;
            margin: auto;
            color: white;
            text-shadow: -1px 1px 1px black;
        }

        #login a {
            color: yellow;
            text-shadow: -1px 1px 1px black;
        }
			

    .boton {
        background: yellow;
        color: black;
        border: none;
        margin-top: 30px;
        padding: 10px;
        width: 100%;
        font-weight: regular;
    }

        .boton:hover {
            background: black;
            color: yellow;
        }

    .copyright {
        margin-top: 5.5px;
    }

    .informacion {
        margin-top: 5.5px;
    }

    .Responsive {
        display: inherit;
    }

    .PC {
        display: none;
    }
}

@font-face {
    font-family: "FontAwesome";
    src: url("fonts/FontAwesome.ttf") format("truetype");
}

.category {
    font-size: 30px;
}

body {
    background-attachment: fixed;
    background-image: url("../images/bg2.jpg");
    background-size: 100%;
    font-family: Century Gothic;
    margin-top: 51px;
    background-repeat: no-repeat;
}

header {
    overflow: hidden;
    text-align: center;
}

main {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 40px;
    background-image: url("../images/fondo2.png");
}

    main section {
        width: 70%;
        margin-left: 0px;
        background-image: url(../images/fondo1.png);
        padding: 10px;
        border-radius: 20px;
        font-size: 20px;
        color: white;
        text-shadow: -1px 1px 1px black;
    }


        main section form textarea {
            margin-bottom: 10px;
        }

        main section form img {
            width: 100%;
        }

.scroll {
    width: 100%;
    height: inherit;
    overflow: auto;
    padding: 10px;
}

dl {
    text-align: center;
    margin-top: 10px;
}

    dl button {
        margin-top: 15px;
    }

.producto {
    overflow: hidden;
    background-image: url("../images/fondo3.png");
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 0px 0px 0px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.producto input[type=text], .producto input[type=date], .producto textarea {
    background-color: #8abfdb;
    color: white;
}

.imagenproducto {
    width: 10%;
}

.imgempresa {
    width: 30%;
    float: left;
    margin-right: 10px;
}

.empresa {
    float: left;
}

.establecimiento {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.imgproducto {
    width: 100%;
}
//*AGREGADO POR YASSER ----------------------------------------------------------------------------------- */

	.opcionMenu {
		padding-top: 18px;
		padding-left:10px;
	}
	.opcionMenu a {
		color:yellow;
		padding:30px;
	}
.btnBuscar{
	padding: 5px 10px;
    font-size: 21px;
    line-height: 1.5;
    border-radius: 3px;
}

.formcontacto main {
	font-size:15px;
	padding:10px;
	margin-left:100px;	
	text-align:center;
	border: 10px solid yellow;
	border-radius:20px;
	margin-top:25px;
	color:white;
	text-shadow: -3px 3px 3px black;
}

footer {
    background: url("../images/fondo1.png");
    padding: 10px;
    text-align: center;
    color: white;
    border-top: 2px solid yellow;
}


    footer a, footer a:hover, footer a:active {
        text-decoration: none;
    }

    footer a {
        color: white;
    }

        footer a:hover {
            color: yellow;
        }



.copyright {
    margin-top: 25.5px;
}

.informacion {
    margin-top: 5.5px;
}

.facebook:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F082";
    padding: 5px;
}

.twitter:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F081";
    padding: 5px;
}

.instagram:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F16D";
    padding: 5px;
}

.google:before {
    font-family: FontAwesome;
    font-size: 50px;
    content: "\F0D4";
    padding: 5px;
}

.Responsive {
    display: none;
}

.PC {
    display: inherit;
}

@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    body {
        background-size: 300%;
        background-position: -300px 0px;
    }

    header img {
        width: 35%
    }

    main {
        margin-top: 10px;
    }

        main section {
            font-size: 100%;
            width: 90%;
        }

            main section h1 {
                font-size: 200%;
            }

            main section form label {
                font-size: 150%;
            }

    dl {
        font-size: 125%;
    }

    dd {
        margin-bottom: 10px;
    }

    .empresa {
        margin: auto;
        width: 100%;
        font-size: 120%;
    }

    .imagenproducto {
        width: 100%;
    }

    .textoproducto {
        font-size: 150%;
        margin-bottom: 5px;
    }

    .producto {
        text-align: center;
    }

    .imgproducto {
        margin-top: 10px;
    }

    .imgempresa {
        width: 100%;
    }

    .copyright {
        margin-top: 5.5px;
    }

    .informacion {
        margin-top: 5.5px;
    }

    .Responsive {
        display: inherit;
    }

    .PC {
        display: none;
    }

    .img-perfil {
        width: 50%;
    }

	}
